{% extends 'base.jinja2' %}

{% block main %}
try:
    if ({{ lhs }}) != ({{ rhs }}):
        not_equal({{ lhs }}, {{ rhs }})
except Exception as error:
    _save_exception()
    sys.exit(0)
{% endblock %}
